<form class="container" ng-submit="updateTask()">
    <h2>Task</h2>

    <div class="form-group">
        <label for="assignee">Assignee</label>
        <input type="text" class="form-control" id="assignee" ng-model="assignee">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" ng-model="description">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Save Edit</button>
    </div>
</form>
