<form name="createTask">
    <div class="form-group">
        <label for="description"> Description </label>
        <textarea name="description" class="form-control" id="description" ng-model="description" td-description></textarea>
        <span class="error">The value is not a valid!</span>
    </div>
    <div class="form-group">
        <label for="assigned"> Assigned To </label>
        <input name="assignee" type="text" class="form-control" id="assigned" ng-model="assignee" td-description>
        <span class="error">The value is not a valid!</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addTask()" ng-disabled="createTask.$invalid"> Create Task</button>
</form>

<ul class="list-group">
    <li ng-class="{ cross: task.finished }" class="list-group-item"
        ng-repeat="task in tasks() | taskOrderBy" ng-mouseover="show = true" ng-mouseleave="show = false">
        <span ng-click="editTask(task.id)">
            {{ task.description }}
        </span>

        <div class="pull-right" ng-show="show">
            <button type="button" class="btn btn-danger" ng-click="removeTask(task.id)"> Remove</button>
            <button type="button" class="btn btn-success" ng-click="changeState(task.finished, task.id)">
                {{ state(task.finished) }}
            </button>
        </div>
    </li>
</ul>